body {
    height: 100vh;
    margin: 0;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.header {
    text-align: center;
    padding: 16px;
    background-color: rgb(22, 15, 61);
    
}

.title {
    font-size: 64px;
    color: yellow;
    font-family: 'Press Start 2P', cursive;
}

.center {
    text-align: center;
    background-color: rgb(45, 35, 102);
}

h1 {
    font-size: 32px;
}

.score-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 128px;
}

.sign {
    font-size: 128px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 64px;
    margin: 32px 0 128px 0;
}

.button {
    width: 160px;
    height: 160px;
    border-radius: 10px;
    background-color: darkgray;
}

.button:hover {
    cursor: pointer;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(22, 15, 61);
    color: yellow;
    padding: 16px;
    font-size: 32px;
    font-weight: bold;
}
